{
    "extends": "react-app",
    "rules": {
      "react/no-array-index-key": "off",
      "no-dupe-keys":"off",
      "no-console": "off",
      "no-unused-vars": "off",
      "no-undef": "off",
      "no-redeclare": "off",
      "no-extra-semi": "off",
      "no-empty": "off",
      "no-useless-escape": "off",
      "no-case-declarations": "off",
      "no-inner-declarations": "off",
      "no-control-regex": "off",
      "no-prototype-builtins": "off",
      "no-fallthrough": "off",
      "no-empty-character-class": "off",
      "no-unreachable": "off",
      "no-self-assign": "off",
      "no-multiple-empty-lines": "off",
      "no-extra-boolean-cast": "off",
      "no-useless-catch": "off",
      "no-async-promise-executor": "off",
      "no-constant-condition": "off",
      "no-new-wrappers": "off",
      "no-return-await": "off",
      "no-unmodified-loop-condition": "off",
      "no-sparse-arrays": "off",
      "no-unused-expressions": "off",
      "no-unneeded-ternary": "off",
      "no-shadow": "off",
      "no-void": "off",
      "no-labels": "off",
      "no-sequences": "off",
      "no-eval": "off",
      "no-global-assign": "off",
      "no-alert": "off",
      "no-multi-spaces": "off",
      "no-multi-str": "off",
      "no-new": "off",
      "no-octal-escape": "off",
      "no-octal": "off",
      "no-useless-concat": "off",
      "no-extra-label": "off",
      "no-iterator": "off",
      "no-new-func": "off",
      "no-proto": "off",
      "no-script-url": "off",
      "no-use-before-define": "off",
      "no-with": "off",
      "radix": "off",
      "semi": "off",
      "strict": "off",
      "valid-typeof": "off",
      "yoda": "off"
    }
  }
